@tailwind base;
@tailwind components;
@tailwind utilities;

/* Explicitly allow inputs to maintain pointer focus and text selection */
input, textarea, select {
  user-select: text !important;
  -webkit-user-select: text !important;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 #f1f5f9;
}